body{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif !important;
}

section.small{
    padding: 80px 0 40px;
}

section.small-top{
    padding-top: 40px;
}

section.small-bottom{
    padding-bottom: 40px;
}


section.no-top{
    padding-top: 0;
}

section.no-bottom{
    padding-bottom: 0;
}

span.tag{
    background-color: #F05F40;
    display: inline-block;
    margin-right: 3px;
    margin-top: 10px;
    padding: 3px 5px;
    font-size: small;
    color: #fff;
}

span.tag-light{
    background-color: #fff;
    color: #F05F40;
}

h3.post-title{
    margin-bottom: 20px;
}

a.post-row{
    cursor: pointer;
    color: #000;
}

p.justify{
    text-align: justify;
}

#load-more{
    cursor: pointer;
}

textarea {
    resize: none;
}

.contact-info a {
    color: #fff;
    cursor: pointer;
}

.align-center {
    margin: 0 auto;
    float: none;
}

.timeline-body > p {
    text-align: justify;
}

.timeline-image {
    color: #000 !important;
}

.white-link {
    color: rgba(255,255,255,.7);
    cursor: pointer;
}

.white-link:hover {
    color: #fff
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #f1f1f1;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .profile-img {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 992px) {
    .profile-img {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 1200px) {
    .profile-img {
        width: 170px;
        height: 170px;
    }
}

footer {
    background-color: #1D1D1D;
}

.footer {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.skill-row {
    margin-bottom: 20px;
}

.skill-title {
    font-size: 18px;
}

.skill-back-line {
    padding: 0;
    height: 25px;
    background-color: #f1f1f1;
}

.skill-line {
    height: 25px;
    background-color: #F05F40;
}

.skill-line-100{
    width: 100%;
}

.skill-line-80{
    width: 80%;
}

.skill-line-70{
    width: 70%;
}

.skill-line-60{
    width: 60%;
}

.skill-line-40{
    width: 40%;
}

.skill-line-20{
    width: 20%;
}
